.story-page{
	padding-top: 0;
	z-index: 9999;

	nav{
		font-family: 'sackers';
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 12px;

		i{
			font-size: 16px;
		}

		>*{
			display: inline-block;
		}

		.date, .viewcount{
			float: right;
		}

		.viewcount{
			margin-left: 20px;
		}
	}

	.details{
		text-align: center;

		.title{
			font-size: 50px;
			color: black;
		}

		.subtitle{
			font-size: 25px;
			color: #757575;
			margin: 40px auto;
			max-width: 800px;

		}

		.author{
			color: #b3b3b1;
			font-size: 18px;
		}
	}

	.content{
		margin-top: 60px;
		p{
			max-width: 700px;
			margin: 0 auto;
			font-size: 21px;
			font-family: serif;
			margin-bottom: 20px;
		}

		img{
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.social{
		text-align: center;

		i{
			margin: 20px;
			font-size: 20px;
			color: #B3B3B1;
		}
	}

}