
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Settings</h1>

			<!-- Quick Numbers -->
			<div class="row">
			
				<div class="col-md-12" style="margin-bottom: 20px;">
					<button class="btn btn-info" ng-click="update()"><i class="fa fa-retweet fa-fw"></i> Update</button>
					<a href="#/dashboard" class="btn btn-default">Cancel</a>
				</div>
			
			
				<div class="col-md-4">
					<div class="panel panel-default text-center">
		                <div class="panel-heading">Homepage Layout</div>
		                <div class="panel-body">

							<select ng-model="layout" class="form-control">
								<option value="three-column">Three Column</option>
								<option value="three-column-blurb">Three Column - w/Blurb</option>
								<option value="four-column">Four Column</option>
							</select>
		                </div>
		            </div>
	            </div>
            </div>
            

		</div>
	</div>









